<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title><%= config['planet'].name %></title>
    <% if (config['planet'].tagline) { %><subtitle><%= config['planet'].tagline %></subtitle><% } %>
    <link href="<%= config['planet'].link + '/atom.xml' %>" rel="self" type="application/atom+xml" />
    <link href="<%= config['planet'].link %>"/>
    <updated><%= posts[0]._t_rfc3339 %></updated>
    <id><%= config['planet'].link %></id>
    <% if (config['planet'].owner_name) { %>
    <author>
        <name><%= config['planet'].owner_name %></name>
        <% if (config['planet'].owner_email) { %><email><%= config['planet'].owner_email %></email><% } %>
    </author>
    <% } %>
    <generator uri="https://github.com/phoenixlzx/planet.js">Planet.js</generator>
    <%
    var limit = config['planet'].items_feed < posts.length && config['planet'].items_feed > 0 ? config['planet'].items_feed : posts.length
    for (var i = 0; i < limit; i++) {
        var post = posts[i];
    %>
    <entry>
        <title><%= post.title %></title>
        <link href="<%= post.link %>"/>
        <id><%= post.link %></id>
        <% if (post.author)  { %>
        <author>
            <name><%= post.author %></name>
        </author>
        <% } %>
        <published><%= post._t_rfc3339 %></published>
        <updated><%= post._t_rfc3339 %></updated>
        <% if (post.content) { %>
        <content type="html"><![CDATA[<%- post.content %>]]></content>
        <% } %>
        <summary type="html">
            <% if (post._summary_text) { %>
            <%= post._summary_text %>
            <% } else if (post.summary) { %>
            <%- post.summary %>
            <% } else { %>
            <%- post.content %>
            <% } %>
        </summary>
        <% post.categories.forEach(function (category) { %>
        <category term="<%= category %>"/>
        <% }) %>
    </entry>
    <% } %>
</feed>