<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title><%= config['planet'].name %></title>
        <link><%= config['planet'].link %></link>
        <atom:link href="<%= config['planet'].link + '/rss.xml' %>" rel="self" type="application/rss+xml"/>
        <description><%= config['planet'].description %></description>
        <pubDate><%= posts[0]._t_rfc822 %></pubDate>
        <generator>Planet.js (https://github.com/phoenixlzx/planet.js)</generator>
        <%
        var limit = config['planet'].items_feed < posts.length && config['planet'].items_feed > 0 ? config['planet'].items_feed : posts.length
        for (var i = 0; i < limit; i++) {
            var post = posts[i];
        %>
        <item>
            <title><%= post.title %></title>
            <link><%= post.link %></link>
            <% if (post.author) { %>
            <author><%= post.author %></author>
            <% } %>
            <guid><%= post.link %></guid>
            <pubDate><%= post._t_rfc822 %></pubDate>
            <description>
                <% if (post._summary_text) { %>
                <%= post._summary_text %>
                <% } else if (post.summary) { %>
                <%- post.summary %>
                <% } else { %>
                <%- post.content %>
                <% } %>
            </description>
            <% if (post.content) { %>
            <content:encoded><![CDATA[<%- post.content %>]]></content:encoded>
            <% } %>
        </item>
        <% } %>
    </channel>
</rss>