<!doctype html>
<html lang="<%= config['planet'].locale %>">

<head>
    <meta charset="utf-8">
    <link rel="icon shortcut" type="image/ico" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= config['planet'].description %>">
    <title><%= config['planet'].name %></title>
    <link rel="alternate" type="application/atom+xml" href="atom.xml" />
    <link rel="alternate" type="application/rss+xml" href="rss.xml" />
    <link rel="stylesheet" href="css/mdui.min.css">
    <script src="js/mdui.min.js"></script>
    <script src="js/highlight.min.js"></script>
    <script src="js/pangu.min.js"></script>
    <script src="js/lazyload.min.js"></script>
</head>

<body class="mdui-appbar-with-toolbar">

    <!-- AppBar -->
    <div class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide">
        <div class="mdui-toolbar mdui-shadow-5 mdui-color-grey-50">
            <span class="mdui-btn mdui-btn-icon mdui-ripple" mdui-drawer="{target: '#main-drawer', swipe: true, overlay: true}"><i class="mdui-icon material-icons">menu</i></span>
            <span class="mdui-typo-title"><%= config['planet'].name %></span>
            <div class="mdui-toolbar-spacer"></div>
            <span class="mdui-btn mdui-btn-icon mdui-ripple" mdui-menu="{target: '#subscribe-list'}"><i class="mdui-icon material-icons">rss_feed</i></span>
            <!-- Subscribe -->
            <ul class="mdui-menu" id="subscribe-list">
                <li class="mdui-menu-item">
                    <a href="atom.xml" class="mdui-ripple">Atom</a>
                </li>
                <li class="mdui-menu-item">
                    <a href="rss.xml" class="mdui-ripple">RSS</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- drawer -->
    <div class="mdui-drawer mdui-color-white mdui-drawer-full-height mdui-shadow-4 mdui-drawer-close"  id="main-drawer">
        <div class="mdui-grid-tile">
            <img src="img/unification.png"/>
            <div class="mdui-grid-tile-actions">
                <div class="mdui-grid-tile-text">
                    <div class="mdui-grid-tile-title"><%= config['planet'].name %></div>
                </div>
            </div>
        </div>
        <ul class="mdui-list">
            <li class="mdui-subheader">Subscribe List</li>
            <% config['people'].forEach(function(s) { %>
                <a href="<%= s.link %>" class="mdui-list-item mdui-ripple"><%= s.name %></a>
            <% }) %>
        </ul>
    </div>


    <div class="mdui-container">
        <div class="mdui-row">
        
        <!-- Post List -->
            <%
                var cstyles = 'abcd';
                var limit = posts.length > config['planet'].items ? config['planet'].items : posts.length
                for (var i = 0; i < limit; i++) {
                    var p = posts[i];
            %>
            <div class="mdui-col-xs-12 mdui-col-sm-8 mdui-col-offset-sm-2 mdui-p-t-1">
                <div class="mdui-card mdui-hoverable mdui-shadow-4">
                    <div class="mdui-card-header">
                        <% if (p.avatar) { %>
                            <img class="mdui-card-header-avatar" data-original="<%= p.avatar %>">
                        <% } else { %>
                            <img class="mdui-card-header-avatar" data-original="img/akarin.jpg">
                        <% } %>
                        <div class="mdui-card-header-title"><%= p.author %></div>
                        <div class="mdui-card-header-subtitle">Publish: <%= p.date %></div>
                        <% if (p.update && p.update !== p.date) { %>
                            <div class="mdui-card-header-subtitle">Update: <%= p.update %></div>
                        <% } %>
                    </div>
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title"><%= p.title %></div>
                        <div class="mdui-card-primary-subtitle">
                        <% p.categories.forEach(function(category) { %><%= category %>&nbsp;<% }) %>
                        </div>
                    </div>
                    <div class="mdui-card-content">
                        <% if (p._length > config['planet'].display_length && p.summary) { %>
                            <%- p.summary.replace(new RegExp('src=','g'),'data-original=') %>
                        <% } else { %>
                            <%- p.content.replace(new RegExp('src=','g'),'data-original=') %>
                        <% } %>
                    </div>
                    <div class="mdui-divider"></div>
                    <div class="mdui-card-actions mdui-text-center">
                        <a href="<%= p.link %>" target="_blank" class="mdui-btn mdui-ripple">Continue reading...</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <script>
        hljs.initHighlightingOnLoad();
        var myLazyLoad = new LazyLoad();
        pangu.spacingPage();
    </script>
</body>

</html>